@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Sports Team</h1>
            <h2>Introduction</h2>
            <p>
                This website is know the Matches played by the player and details of the palyer with his name and age.
                How much score is he scored in that stadium.
                To know, in which stadium the match occured on which day.

            </p>
        </div>

       